<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr><td>Morning</td> <td> <a href="http://www.datacarpentry.org/organization-genomics/"><b>Project organization and management</b></a></td></tr>
    <table>
      <tr> <td>09:00</td>  <td>Welcome and workshop introductions</td> </tr>
      <tr> <td>09:30</td>  <td>Data Tidiness</td> </tr>
      <tr> <td>10:00</td>  <td>Planning for NGS Projects</td> </tr>
      <tr> <td>10:30</td>  <td>Examining Data on the NCBI SRA Database</td> </tr>
      <tr> <td>10:45</td>  <td>Coffee</td> </tr>
      <tr><td>Mid-morning</td><td><a href="http://www.datacarpentry.org/shell-genomics/"><b>Introduction to the command line</b></a></td></tr>
	  <tr> <td>11:00</td>  <td>Introducing the Shell</td> </tr>
	  <tr> <td>11:30</td>  <td>Navigating Files and Directories</td> </tr>
      <tr> <td>12:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:00</td>  <td>Working with Files and Directories</td> </tr>
      <tr> <td>13:45</td>  <td>Redirection</td> </tr>
      <tr> <td>14:30</td>  <td>Coffee</td> </tr>
      <tr> <td>14:45</td>  <td>Writing Scripts</td> </tr>
      <tr> <td>15:30</td>  <td>Project Organization</td> </tr>
      <tr> <td>16:15</td>  <td>Wrap-up</td> </tr>
      <tr> <td>16:30</td>  <td>END</td> </tr>
  	</table>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>Morning</td> <td><a href="http://www.datacarpentry.org/wrangling-genomics/"><b>Data wrangling and processing</b></a></td></tr>
    <table>
      <tr> <td>09:00</td>  <td>Assessing Read Quality</td> </tr>
      <tr> <td>10:00</td>  <td>Trimming and Filtering</td> </tr>
      <tr> <td>10:45</td>  <td>Coffee</td> </tr>
      <tr> <td>11:00</td>  <td>Variant Calling Workflow</td> </tr>
      <tr> <td>12:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:00</td>  <td>Automating a Variant Calling Workflow</td> </tr>
      <tr> <td>Afternoon</td><td><a href="http://www.datacarpentry.org/cloud-genomics/"><b>Introduction to cloud computing for genomics</b></a></td></tr>
      <tr> <td>13:45</td>  <td>Why of cloud computing</td> </tr>
      <tr> <td>13:50</td>  <td>Logging onto Cloud</td> </tr>
      <tr> <td>14:00</td>  <td>Fine tuning your Cloud Setup</td> </tr>
      <tr> <td>14:30</td>  <td>Coffee</td> </tr>
      <tr> <td>14:45</td>  <td>Data roundtripping</td> </tr>
      <tr> <td>15:15</td>  <td>Which Cloud for my data?</td> </tr>
      <tr> <td>16:15</td>  <td>Wrap-up</td> </tr>
      <tr> <td>16:30</td>  <td>END</td> </tr>
       </table>
    </table>
  </div>
</div>
